<% include partials/header %>



    <form  action="/login" method="POST">

          <div class="form-group">
            <input type="email" name="username" placeholder="Your email:" class="form-control">
          </div>

          <div class="form-group">
            <input type="password" name="password" placeholder="Your password:" class="form-control">
          </div>

          <div class="form-group">
            <input type="submit"  value="Login" class="form-control btn btn-primary">
          </div>

    </form>


<% include partials/footer %>
